body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background: #f5f5f5;
    }

    .signup-section {
      min-height: 100vh;
      display: flex;
    }

    .signup-left {
      background-color: #1e1e1e;
      color: whitesmoke;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }

    .signup-left input.form-control,
    .signup-left select.form-select {
      background-color: #2e2e2e;
      border: none;
      color: #fff;
    }

    .signup-left input.form-control:focus,
    .signup-left select.form-select:focus {
      background-color: #2e2e2e;
      color: #fff;
      box-shadow: none;
    }

    .signup-left input::placeholder {
      color: white;
      opacity: 0.7;
    }

    .btn-signup {
      background-color: #a26eff;
      color: white;
      width: 100%;
      border: none;
    }

    button.btn-signup {
  background-color: #a26eff !important;
  color: white;
  width: 100%;
  border: none;
}


    /* .btn-signup:hover {
      background-color: #8f5ce7;
    } */

    .login-text {
      font-size: 0.9rem;
      margin-top: 20px;
    }

    .login-text a {
      color: #a26eff;
      text-decoration: none;
    }

    .signup-right {
      background-color: #a26eff;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 40px;
      text-align: center;
    }

    .signup-right h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    .signup-right p {
      font-size: 1rem;
      margin-top: 10px;
    }

    .signup-right img {
      max-width: 100%;
      height: auto;
      margin-top: 30px;
    }